@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Work+Sans:wght@300;400;600&display=swap");
/* COLOR PALLETE */
:root {
  --color-primary: #59A52C;
  --color-secondary: #111111;
  --color-background: #e5fbe1;
  --color-accent: #6fca3a;
  --color-dark: #437d21;
  --color-text: #2a2a2a;
}

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}

/* HEADER */
header {
  background-color: var(--color-background);
}

/* NAV */
nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  justify-content: space-around;
}

nav a {
  color: #111111;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.2s ease-in-out;
}

nav a:hover {
  transform: scale(1.05);
  color: #2a2a2a;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #50C493;
  color: var(--color-text);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

footer li {
  list-style: none;
  margin-top: 20px;
}

.socialIcon {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.socialIcon:hover {
  transform: scale(1.15);
}

.footerText {
  font-size: 70%;
  font-weight: 600;
}

/* MAIN */
.flex-container {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.flex-container p {
  font-size: 18px;
  font-weight: 400;
}

.flex-item {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 45%;
  margin-bottom: 5%;
  border-radius: 12px;
  display: flex;
}

.flex-item img {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 20px;
}

.flex-item p {
  text-align: center;
  line-height: 1.5;
  margin: 10px 0;
}

/* FORMULARIO */
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  width: 100%;
  max-width: 450px;
}

form {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  width: 100%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group textarea {
  resize: none;
  height: 200px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}

input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 12px !important;
  padding: 10px;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid var(--color-accent);
}

button[type=submit] {
  background-color: var(--color-dark);
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button[type=submit]:hover {
  transform: scale(1.05);
  background-color: var(--color-primary);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* GRID CON TARJETAS BOOTSTRAP */
.card-custom-height {
  margin: 10px;
  display: inline-block;
  width: auto;
  height: 100%;
}

.card-custom-height {
  transition: transform 0.3s ease;
}

.card-custom-height:hover {
  transform: scale(1.02);
}

.card-title {
  text-align: center;
  margin: 10px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  nav li {
    display: block;
  }
  .flex-item {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
