/* COLOR PALLETE */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Work+Sans:wght@300;400;600&display=swap");
* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}

/* HEADER */
.container-fluid {
  background-color: #d6ffce;
}

/* NAV */
nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  justify-content: space-around;
}

.nav-link {
  color: #111111;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
}
.nav-link:hover {
  transform: scale(1.05);
  color: #2a2a2a;
  font-weight: bold;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #50C493;
  color: #2a2a2a;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
footer li {
  list-style: none;
  margin-top: 20px;
}

.socialIcon {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}
.socialIcon:hover {
  transform: scale(1.15);
}

.footerText {
  font-size: 70%;
  font-weight: 600;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* MAIN */
.heroTittle {
  display: flex;
  justify-content: center;
}

.heroTittle h1,
.Who h2 {
  font-size: clamp(15px, 4vw, 48px);
}

.w-100 {
  object-fit: cover;
  height: 50%;
  max-height: 480px;
  max-width: 100%;
  min-width: 50%;
}

.carousel-control-next-icon {
  background-image: url("https://www.svgrepo.com/show/511422/arrow-right-336.svg");
}

.carousel-control-prev-icon {
  background-image: url("https://www.svgrepo.com/show/511381/arrow-left-335.svg");
}

hr.rounded {
  max-width: 50%;
  margin: 20px auto;
  border-top: 3px solid #bbb;
  border-radius: 5px;
}

.flex-container {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.flex-container p {
  font-size: 18px;
  font-weight: 400;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 45%;
  margin-bottom: 5%;
  border-radius: 12px;
}
.flex-item img {
  margin-top: 20px;
  width: 50%;
}
.flex-item p {
  text-align: center;
  line-height: 1.5;
  margin: 10px 0;
}

/* FORMULARIO */
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-hero {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  width: 100%;
  max-width: 420px;
  min-width: 280px;
}

form {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  width: 100%;
}

.body-form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.info-container {
  height: 100%;
  padding: 10px;
}

.map-google {
  max-height: 480px;
}

.contact-info-container {
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.input-group textarea {
  resize: none;
  height: 200px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}

input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 12px !important;
  padding: 10px;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid #6fca3a;
}

button[type=submit] {
  background-color: #437d21;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
button[type=submit]:hover {
  transform: scale(1.05);
  background-color: #6fca3a;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  color: #2a2a2a;
}

/* GRID CON TARJETAS BOOTSTRAP */
.card-custom-height {
  margin: 10px;
  display: inline-block;
  width: auto;
  height: 100%;
}

.card-custom-height {
  transition: transform 0.3s ease;
}
.card-custom-height:hover {
  transform: scale(1.02);
}

.col-md-6 {
  margin-top: 20px;
}

.card-title {
  text-align: center;
  margin: 10px;
}

.hero-contact {
  position: relative;
  text-align: center;
}

.hero-contact img {
  width: 100%;
  min-width: 50%;
  max-width: 1024px;
  display: block;
  margin: 0 auto;
}

.form-hero img {
  width: 50%;
  max-width: 1024px;
}

.accordion-button:not(.collapsed) {
  background-color: #50C493;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  nav li {
    display: block;
  }
  .flex-item {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
