/* MAIN */

.flex-container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    p {
        font-size: 18px;
        font-weight: 400;
    }
}


.flex-item {
    @include flex(center, center);
    width: 50%;
    height: 45%;
    margin-bottom: 5%;
    border-radius: 12px;

    img {
        margin-top: 20px;
        max-width: 100%;
        border-radius: 20px;
    }

    p {
        text-align: center;
        line-height: 1.5;
        margin: 10px 0;
    }

}


/* FORMULARIO */
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    width: 100%;
    max-width: 450px;
}

form {
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    textarea {
        resize: none;
        height: 200px;
    }

}

label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
}

input,
select,
textarea {
    border: 1px solid #ccc;
    border-radius: 12px !important;
    padding: 10px;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid $color-accent;
}

button[type="submit"] {
    background-color: $color-dark;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
        background-color: $color-accent;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
        color: $color-text;
    }
}


/* GRID CON TARJETAS BOOTSTRAP */

.card-custom-height {
    margin: 10px;
    display: inline-block;
    width: auto;
    height: 100%;
}

.card-custom-height {
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02);
    }
}


.card-title {
    text-align: center;
    margin: 10px;
}


// Contact Hero

.hero-contact {
    position: relative;
    text-align: center;
}

.hero-contact img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.accordion-button:not(.collapsed) {
    background-color: $footer-color;
}