html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* MAIN */

.heroTittle {
    display: flex;
    justify-content: center;
}

.heroTittle h1,
.Who h2 {
    font-size: clamp(15px, 4vw, 48px);
}

.w-100 {
    object-fit: cover;
    height: 50%;
    max-height: 480px;
    max-width: 100%;
    min-width: 50%;
}



.carousel-control-next-icon {
    background-image: url("https://www.svgrepo.com/show/511422/arrow-right-336.svg");
}

.carousel-control-prev-icon {
    background-image: url("https://www.svgrepo.com/show/511381/arrow-left-335.svg");
}

hr.rounded {
    max-width: 50%;
    margin: 20px auto;
    border-top: 3px solid #bbb;
    border-radius: 5px;
}

.flex-container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    p {
        font-size: 18px;
        font-weight: 400;
    }
}


.flex-item {
    @include flex(center, center);
    width: 50%;
    height: 45%;
    margin-bottom: 5%;
    border-radius: 12px;

    img {
        margin-top: 20px;
        width: 50%;
    }

    p {
        text-align: center;
        line-height: 1.5;
        margin: 10px 0;
    }

}

/* FORMULARIO */
.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-hero {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    width: 100%;
    max-width: 420px;
    min-width: 280px;
}

form {
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
}

.body-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.info-container {
    height: 100%;
    padding: 10px;
}

.map-google {
    max-height: 480px;
    width: 100%;
}

.contact-info-container {
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    textarea {
        resize: none;
        height: 200px;
    }

}

label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
}

input,
select,
textarea {
    border: 1px solid #ccc;
    border-radius: 12px !important;
    padding: 10px;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid $color-accent;
}

button[type="submit"] {
    background-color: $color-dark;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
        background-color: $color-accent;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
        color: $color-text;
    }
}


/* GRID CON TARJETAS BOOTSTRAP */

.card-custom-height {
    margin: 10px;
    display: inline-block;
    width: auto;
    height: 100%;
}

.card-custom-height {
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02);
    }
}

.col-md-6 {
    margin-top: 20px;
}


.card-title {
    text-align: center;
    margin: 10px;
}


// Contact Hero

.hero-contact {
    position: relative;
    text-align: center;
}

.hero-contact img {
    width: 100%;
    min-width: 50%;
    max-width: 1024px;
    display: block;
    margin: 0 auto;
}

.form-hero img {
    width: 50%;
    max-width: 1024px;
}

.accordion-button:not(.collapsed) {
    background-color: $footer-color;
}