/* MEDIA QUERIES */


@media only screen and (max-width: 768px) {

    .flex-container {
        flex-direction: column;
    }

    nav li {
        display: block;
    }

    .flex-item {
        width: 100%;
    }

    // .map-google {
    //     min-width: 50%;
    // }
}

@media only screen and (max-width: 1024px) {

    .body-form-container {
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 480px) {
    .flex-item p {
        text-align: justify;
        margin: 0;
    }
}

@media only screen and (min-width: 768px) {
    .flex-item p {
        margin: 0px 2rem;
    }

    .heroTittle h1,
    .Who h2 {
        margin: 2rem 0;
    }
}