/* COLOR PALLETE */
$color-primary: #59A52C;
$color-secondary: #111111;
$color-background: #d6ffce;
$color-accent: #6fca3a;
$color-dark: #437d21;
$color-text: #2a2a2a;
$footer-color: #50C493;

$font-text: 'Quicksand', sans-serif;
$font-header: 'Work Sans', sans-serif;